body{   
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

header{
    color: #fff;
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(75, 197, 51);
}

.links{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}


main{
    margin: 45px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

a{
    text-decoration: none;
    color: #fff;
}
footer{
    color: #fff;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(197, 51, 51);
}

#tabela th{
    background-color: gray;
}

#tabela th #diferente{
    background-color: red;
}

#tabela p {
    text-align: center;
}

#tabela tr:nth-child(even){
    background-color: rgb(75, 197, 51);

}

#saporra{
    background-color: red;
}

#bundesliga tr td:first-of-type{
    background-color: red;
}

#bundesliga p {
    text-align: center;
}

.title{
    font-size: 2rem;
}