body {
    width: 100vw;
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: aliceblue;
}

header {
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: var(--blue-600);
}

.down{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 40%;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px var(--shadow-green);
    background-color: #fff;
    color: var(--desc-container);
}

.desc-card{
    text-align: justify;
    width: 50%;
    font-size: 1.4rem;
}

.img-icon{
    height: 150px;
    width: 150px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main {
    display: flex;
    justify-content: space-evenly;
}

.link {
    text-decoration: none;
    color: #fff;
}

.link:hover {
    text-decoration: underline;
}

.title {
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    color: var(--blue-300);
    text-shadow: 3px 3px 3px #000;
}

.container {
    height: 450px;
    width: 400px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: -5px -5px 5px var(--shadow-green);
    border-radius: 5px;
    background-color: #fff;
    transition: .3s all;
}

.container:hover {
    box-shadow: 8px 8px 8px var(--shadow-green);
    transform: scale(1.05);
}

.title-container {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--title-container);
}

.desc-container {
    text-align: justify;
    width: 80%;
    color: var(--desc-container);
}

.img-container {
    border: 2px solid var(--border-grey);
    box-shadow: 3px 3px 3px var(--shadow-grey);
}

.btn-container {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 80%;
    padding: 10px;
    border: 2px solid var(--green-300);
    border-radius: 10px;
    background-color: var(--green-600);
    color: var(---600);
    font-style: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: var(--blue-600);
}

.footer{
    font-size: 1.2rem;
}

@media screen and (min-width: 200px){

}